.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  margin-left: 135px;
}

/* .display:first-child,
.display:last-child {
  width: 20%;
} */
